body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  
}

header {
  background-color: #201f1f;
  color: white;
  /* height: 15vh; */
  display: flex; /* Usa flexbox para alinear el logo y el título */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: space-between; /* Centra horizontalmente el contenido del encabezado */
  padding: 2rem;
  height: 3vh;
}

.logo {
  max-width: 25vw; /* Ajusta el tamaño del logo */
  transition: transform 0.3s; /* Suaviza la transición del efecto */
}


.logo:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

.carrito-compras {
  font-size: 1.6rem;
  color: #ffffff;
}

.icono-buscar{
  font-size: 1.5rem;
  background-color: transparent;
  display: block;
  border: 0;
  color: #ffffff;
}

.icono-buscar.invisible{
  opacity: 0;
  visibility: hidden;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #ececec;
}

.abrir-menu,
.cerrar-menu {
  display: block;
  border: 0;
  
  background-color: transparent;
  cursor: pointer;
}

.abrir-menu {
  color: #f8f3f3;
  font-size: 2rem;
}

.cerrar-menu {
  color: #ececec;
  margin-top: 4.2vh;
  font-size: 1.5rem;
}

.nav {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #1c1c1c;
  padding: 2rem;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  z-index: 100;
  right: -100%; /* El menú comienza fuera de la pantalla */
  transition: right 0.3s ease, opacity 0.3s ease; /* Transición suave */
}

.nav.visible {
  right: 0; /* El menú se desliza dentro de la pantalla */
  opacity: 1;
  visibility: visible;
}

.carousel-item img {
  width: 100%;
  height: 15vh;
  object-fit: cover;
}


.productos h2{
  text-align: center;
  margin-top: 2rem;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0 2rem 0;
}

.card{
  width: 80vw;
  background-color: #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
  margin: 1rem;  
}

.card img{
  width: 100%;
  height: auto;
}

.card-content{
  padding: 1rem;
}

.card-content h3{
  font-size: 1.5rem;
  margin-bottom: 1vh;
  margin-top: 0;
}

.card-content p{
  color: #666;
  font-size: 0.9rem;
  line-height: 1.3;
}

.card-content .btn{
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #333;
  text-decoration: none;
  border-radius: 0.2rem;
  color: #fff;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.info{
  display: flex;
  align-items: center;
}

.info-icono{
  color: #FF4500; /* Color naranja similar al de la imagen */
  font-size: 6vh; /* Tamaño del ícono */
  margin-right: 2vh; /* Espacio entre el ícono y el texto */
  margin-left: 2vh;
}

.info-texto{
  margin: 0;
  font-size: 1.2rem;
  color: #333; /* Color del título */
}

.info-texto p{
  margin: 0;
  color: #666; /* Color del subtítulo */
  font-size: 0.9rem;
}

.info-texto h5{
    margin-bottom: 0;
}

.consultas-container{
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  gap: 	2vh;
  align-items: center;
  margin-bottom: 4vh;
}

.consulta{
  margin: 0;
  border: 0.1vh solid black;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vh;
  width: 90%;
  padding: 2vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s; 
  color: black;
}

.consulta:hover{
  transform: scale(1.05); 
}

.consulta h6{
  align-content: center;
  color: black;
  text-decoration: none;
  margin-bottom: 0;
}

.consulta i{
    font-size: 6vh;
    margin: 0;
    color: #1c1c1c;
}

.consulta a {
  display: flex; /* Asegura que el enlace ocupe todo el espacio del div */
  flex-direction: column;
  align-items: center;
  text-decoration: none; /* Quitar subrayado del enlace */
  height: 100%; /* Asegura que el enlace ocupe toda la altura del contenedor */
  margin-top: 0;
}

footer {
  background-color: #201f1f; 
  color: white; 
  padding-top: 2vh; 
  width: 100%; 
  z-index: 10;
}

.footer-info{
  border-bottom: 0.5px solid white;
}

.footer-info h5{
  margin-top: 1vh;
  text-align: center;
}

.footer-info a{
  text-decoration: none;
  color: white;
}

.redes-sociales{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin-bottom: 2vh;
}

.redes-sociales i{
  font-size: 5vh;
}

.copyright p{
  text-align: center;
  justify-content: center;
  padding: 2vh 2vh;
}

.lista-footer{
  list-style-type: none;
  justify-content: center;
  padding: 0;
  font-size: 0.9rem;
  display: flex;
  gap: 5vw;
}


@media screen and (min-width: 425px) {

  /* Establece el ancho y la altura del carrusel */
#carouselExampleAutoplaying {
  width: 100%; /* Ajusta el ancho del carrusel (porcentaje o píxeles) */
  height: 180px; /* Ajusta la altura del carrusel */
}

/* Ajusta el tamaño de las imágenes dentro del carrusel */
#carouselExampleAutoplaying .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al tamaño del carrusel */
}

.logo {
  max-width: 20vw; /* Ajusta el tamaño del logo */
}


}

@media screen and (min-width: 768px) {
  .logo {
    max-width: 15vw; /* Ajusta el tamaño del logo */
  }

  header{
    height: 12vh;
  }

}

/* Dispositivos grandes (escritorio) */
@media (min-width: 992px) {
  #carouselExampleAutoplaying {
      height: 500px; /* Altura óptima para escritorio */
  }

  header{
    height: 15vh;
  }

  .icono-buscar{

    display: none;

  }


  .nav-list{
    align-items: center;
  }

}


@media screen and (min-width: 1024px) {

  .abrir-menu,
  .cerrar-menu {
      display: none;
  }

  .nav {
      opacity: 1;
      visibility: visible;
      position: static;
      flex-direction: row;
      align-items: center;
      box-shadow: none;
      background-color: transparent;
      padding: 0;
  }

  .nav-list {
      flex-direction: row;
      gap: 1rem;
  }

  .nav-list li a {
      color: #ffffff;
  }
}




