body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  header {
    background-color: #201f1f;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 2rem;
    height: 3vh;
  }
  
  .logo {
    max-width: 25vw; 
    transition: transform 0.3s; 
  }
  
  
  .logo:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
  }
  
  .carrito-compras {
    position: relative; /* Posicionamos el contenedor relativo al ícono */
    font-size: 1.6rem;
    color: #ffffff;
    margin-left: auto; 
    margin-right: 1rem; 
    text-decoration: none; /* Elimina subrayado */
  }
  
  .carrito-compras span.contador {
    display: none;
    position: absolute; /* Se posiciona respecto al ícono */
    top: 2px; /* Ajusta verticalmente */
    right: -10px; /* Ajusta horizontalmente */
    background-color: #4d4c4c;
    padding: 1px 3px; /* Tamaño ajustado para parecer circular */
    font-size: 10px; /* Reduce un poco el tamaño del texto */
    color: #fff;
    border-radius: 50%; /* Forma circular */
    text-align: center; /* Centra el texto */
    font-weight: bold; /* Hace que el número destaque */
    min-width: 18px; /* Garantiza el tamaño mínimo */
    height: 18px; /* Garantiza un círculo perfecto */
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    text-align: center;
  }
  
  
  .nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #ececec;
  }
  
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    
    background-color: transparent;
    cursor: pointer;
  }
  
  .abrir-menu {
    color: #f8f3f3;
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .cerrar-menu {
    color: #ececec;
    margin-top: 4.2vh;
    font-size: 1.5rem;
  }
  
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    z-index: 100;
    right: -100%; /* El menú comienza fuera de la pantalla */
    transition: right 0.3s ease, opacity 0.3s ease; 
  }
  
  .nav.visible {
    right: 0; /* El menú se desliza dentro de la pantalla */
    opacity: 1;
    visibility: visible;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    transition: opacity 0.3s ease;
  }
  
  .overlay.visible {
    visibility: visible;
    opacity: 1;
  }

  .container {
    width: 80vw;
    max-width: 1024px;
    padding: 1vh;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.steps {
    justify-content: space-between;
    align-items: center;
    max-width: 40vw;
    margin: auto;
    margin-bottom: 20px;
    display: none;
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.step.active {
    background-color: #4285f4;
}

.line {
    flex: 1;
    height: 4px;
    background-color: #d1d1d1;
    margin: 0 10px;
}

.titulo {
    border-bottom: 0.1px solid #c7c7c7;
    margin-bottom: 3vh;
}

/* Productos */
.titulo h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.product {
    display: grid;
    grid-template-columns: 25px auto 25px;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
}

.product-img{
    grid-column: 2;
    grid-row: 1;
}

.product-img img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.product-details{
    grid-column: 2;
    grid-row: 2;
}

.product-name {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 10px;
}

.product-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-quantity {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-quantity button {
    width: 30px;
    height: 30px;
    border: none;
    background: #e63946;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

.product-quantity input {
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 5px;
}

.product-precio {
    grid-column: 2;
    grid-row: 4;
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.product-precio p{
    font-size: 1.2rem;
    color: #4675b9;
}

.product-delete{
    grid-column: 3;
    grid-row: 1;
}

.btn-delete {
    background: none;
    border: none;
    color: #e63946;
    font-size: 1rem;
    cursor: pointer;
}

/* Envío */
.envio h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.postal-code {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.postal-code input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.icon {
    margin-left: 5px;
}

.postal-message {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 15px;
}

.shipping-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
}

.option.active {
    border-color: #e63946;
    color: #e63946;
}

.back-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10vw;
    text-align: center;
}

  footer {
    background-color: #201f1f; 
    color: white; 
    padding-top: 2vh; 
    width: 100%; 
    z-index: 10;
  }
  
  .footer-info{
    border-bottom: 0.5px solid white;
  }
  
  .footer-info h5{
    margin-top: 1vh;
    text-align: center;
  }
  
  .footer-info a{
    text-decoration: none;
    color: white;
  }
  
  .redes-sociales{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-bottom: 2vh;
  }
  
  .redes-sociales i{
    font-size: 5vh;
  }
  
  .copyright p{
    text-align: center;
    justify-content: center;
    padding: 2vh 2vh;
  }
  
  .lista-footer{
    list-style-type: none;
    justify-content: center;
    padding: 0;
    font-size: 0.9rem;
    display: flex;
    gap: 5vw;
  }





  @media screen and (min-width: 375px) {

    
    .logo {
      max-width: 20vw; 
    }
    
    
  }

  @media screen and (min-width: 424px) {
    .logo {
      max-width: 18vw; 
    }
  }
    
@media screen and (min-width: 768px) {
    .logo {
     max-width: 20vw;       
    }
    
    header{
        height: 15vh;
    }

    .abrir-menu{
        margin-right: 2vh;
    }
    
    .carrito-compras{
        margin-right: 4vh;
    }
    
    header button, i{
    font-size: 3rem;
    }

    .nav.visible{
        width: 35vw;
    }
    
    .nav-list{
        font-size: 1.5rem;
    }

    .carrito-compras span.contador {
        top: 8px; /* Ajusta verticalmente */
        right: -10px; /* Ajusta horizontalmente */
        padding: 7px 7px; /* Tamaño ajustado para parecer circular */
        font-size: 14px; /* Reduce un poco el tamaño del texto */
        height: 22px; /* Garantiza un círculo perfecto */
    }
    
}

@media (min-width: 992px) {
      
    header{
      height: 16vh;
    }
  
    .logo {
      width: 16vw; 
    }
  
    header li{
      font-size: 2rem;
    }

    .carrito-compras{
      display: flex;
      align-items: center;
      padding: 0;
      padding-bottom: 2vw;
    }

    .nav-list{
      align-items: center;
    }
  
    .abrir-menu,
    .cerrar-menu {
        display: none;
    }
  
    .nav {
        opacity: 1;
        visibility: visible;
        position: static;
        flex-direction: row;
        align-items: center;
        box-shadow: none;
        background-color: transparent;
        padding: 0;
    }
  
    .nav-list {
        flex-direction: row;
        gap: 1rem;
    }
  
    .nav-list li a {
        color: #ffffff;
    }

}

@media screen and (min-width: 1024px) {
    
    .abrir-menu,
    .cerrar-menu {
        display: none;
    }
  
    .nav {
        opacity: 1;
        visibility: visible;
        position: static;
        flex-direction: row;
        align-items: center;
        box-shadow: none;
        background-color: transparent;
        padding: 0;
    }
  
    .nav-list {
        flex-direction: row;
        gap: 1rem;
    }
  
    .nav-list li a {
        color: #ffffff;
    }

    .carrito-compras{
      margin-right: 1vh;
    }
  }

  @media screen and (min-width: 1280px) {
    .logo {
      width: 10vw; 
    }
  }
  
  @media screen and (min-width: 1440px) {

    .carrito-compras{
      padding-bottom: 2vh;
    }
  
  }

