* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .sobre-nosotros{
    background: #24303c;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
  }

  .sobre-nosotros img{
    width: 90%;
    max-height: 30vh;
    object-fit: cover;
    margin-bottom: 3vh;
  }

  .texto {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin-bottom: 20px;
}

.reseñas{
    background-color: #24303c;
    height: auto;
    display: grid;
    justify-items: center;
    gap: 1em;
    padding-bottom: 4vh;
}

.reseñas h3{
    margin: 2vh;
    font-size: 1.3rem;
    color: white;
}

.item-reseñas-container{
    border:#BABAC4 solid 0.01px;
    width: 90%;
    border-radius: 1vh;
    background-color: white;
    color: black;
    display: block;
    text-align: center;
}

.producto img{
    width: 25vh;
    border-radius: 10%;
}

.producto  h5{
    align-self: center;
    font-size: em;
}

.producto p{
    color: rgb(235, 195, 16);
    font-size: 2.5vh;
}

.reseña-texto{
    text-align: start;
    margin-left: 5vw;
}

footer {
    background-color: #201f1f; 
    color: white; 
    padding-top: 2vh; 
    width: 100%; 
    z-index: 10;
  }
  
  .footer-info{
    border-bottom: 0.5px solid white;
  }
  
  .footer-info h5{
    margin-top: 1vh;
    text-align: center;
  }
  
  .footer-info a{
    text-decoration: none;
    color: white;
  }
  
  .redes-sociales{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-bottom: 2vh;
  }
  
  .redes-sociales i{
    font-size: 5vh;
  }
  
  .copyright p{
    text-align: center;
    justify-content: center;
    padding: 2vh 2vh;
  }
  
  .lista-footer{
    list-style-type: none;
    justify-content: center;
    padding: 0;
    font-size: 0.9rem;
    display: flex;
    gap: 2.5vw;
  }

