* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #201f1f;
    color: white;
    /* height: 15vh; */
    display: flex; /* Usa flexbox para alinear el logo y el título */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Centra horizontalmente el contenido del encabezado */
    padding: 2rem;
    height: 3vh;
  }
  
  .logo {
    max-width: 25vw; /* Ajusta el tamaño del logo */
    transition: transform 0.3s; /* Suaviza la transición del efecto */
  }
  
  
  .logo:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
  }
  
  .carrito-compras {
    font-size: 1.6rem;
    color: #ffffff;
  }
  
  .icono-buscar{
    font-size: 1.5rem;
    background-color: transparent;
    display: block;
    border: 0;
    color: #ffffff;
  }
  
  .icono-buscar.invisible{
    opacity: 0;
    visibility: hidden;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #ececec;
  }
  
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    
    background-color: transparent;
    cursor: pointer;
  }
  
  .abrir-menu {
    color: #f8f3f3;
    font-size: 2rem;
  }
  
  .cerrar-menu {
    color: #ececec;
    margin-top: 4.2vh;
    font-size: 1.5rem;
  }
  
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    z-index: 100;
    right: -100%; /* El menú comienza fuera de la pantalla */
    transition: right 0.3s ease, opacity 0.3s ease; /* Transición suave */
  }
  
  .nav.visible {
    right: 0; /* El menú se desliza dentro de la pantalla */
    opacity: 1;
    visibility: visible;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    transition: opacity 0.3s ease;
  }
  
  .overlay.visible {
    visibility: visible;
    opacity: 1;
  }

  .sobre-nosotros{
    background: #24303c;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
  }

  .sobre-nosotros img{
    width: 90%;
    max-height: 30vh;
    object-fit: cover;
    margin-bottom: 3vh;
  }

  .texto {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin-bottom: 20px;
}

.reseñas{
    background-color: #24303c;
    height: auto;
    display: grid;
    justify-items: center;
    gap: 1em;
    padding-bottom: 4vh;
}

.reseñas h3{
    margin: 2vh;
    font-size: 1.3rem;
    color: white;
}

.item-reseñas-container{
    border:#BABAC4 solid 0.01px;
    width: 90%;
    border-radius: 1vh;
    background-color: white;
    color: black;
    display: block;
    text-align: center;
}

.producto img{
    width: 25vh;
    border-radius: 10%;
}

.producto  h5{
    align-self: center;
    font-size: em;
}

.producto p{
    color: rgb(235, 195, 16);
    font-size: 2.5vh;
}

.reseña-texto{
    text-align: start;
    margin-left: 5vw;
}

footer {
    background-color: #201f1f; 
    color: white; 
    padding-top: 2vh; 
    width: 100%; 
    z-index: 10;
  }
  
  .footer-info{
    border-bottom: 0.5px solid white;
  }
  
  .footer-info h5{
    margin-top: 1vh;
    text-align: center;
  }
  
  .footer-info a{
    text-decoration: none;
    color: white;
  }
  
  .redes-sociales{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-bottom: 2vh;
  }
  
  .redes-sociales i{
    font-size: 5vh;
  }
  
  .copyright p{
    text-align: center;
    justify-content: center;
    padding: 2vh 2vh;
  }
  
  .lista-footer{
    list-style-type: none;
    justify-content: center;
    padding: 0;
    font-size: 0.9rem;
    display: flex;
    gap: 2.5vw;
  }

