body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fondo claro para contraste */
}

header {
    background-color: #333; /* Color oscuro para el encabezado */
    color: white;
    padding: 20px;
}

.header-container {
    display: flex; /* Usa flexbox para alinear el logo y el título */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente el contenido del encabezado */
}

.logo {
    max-width: 150px; /* Ajusta el tamaño del logo */
    margin-right: 15px; /* Espacio a la derecha del logo */
    transition: transform 0.3s; /* Suaviza la transición del efecto */
}

.logo:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}



header h1 a {
    color: white; /* Color del título */
    text-decoration: none; /* Sin subrayado */
    font-size: 2em; /* Tamaño del título */
}



footer {
    background-color: #333; /* Color oscuro para el pie de página */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    padding: 10px 0; /* Espacio arriba y abajo */
    position: relative; /* Posición relativa para el pie de página */
    bottom: 0; /* Asegura que esté al final */
    width: 100%; /* Ancho completo */
}


.inicio {
    display: flex;                /* Usar Flexbox */
    flex-direction: column;       /* Alinea verticalmente los hijos */
    align-items: center;          /* Centrar horizontalmente */
    margin-top: 60px;            /* Margen superior */
}

.card-container {
    display: flex;                /* Usar Flexbox para las tarjetas */
    justify-content: center;      /* Centrar horizontalmente las tarjetas */
    flex-wrap: wrap;             /* Permitir el salto de línea de los elementos hijos */
    gap: 100px;                   /* Espacio entre tarjetas (ajusta según sea necesario) */
    margin-bottom: 100px;
}

.card {
    flex: 1 1 calc(33.333% - 20px); /* Toma el 33.333% del ancho del contenedor menos el espacio entre tarjetas */
    max-width: 400px;              /* Ancho máximo de cada tarjeta */
}

.inicio h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 100px;
}

.mapa{
    display: flex;
    justify-content: center;
}

.ubicacion h2{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.card img {
    width: 100%;           /* Hace que la imagen ocupe todo el ancho de la tarjeta */
    height: 300px;         /* Define una altura fija para todas las imágenes */
    object-fit: cover;     /* Asegura que la imagen se recorte adecuadamente y mantenga la proporción */
}





