* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #201f1f;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 2rem;
    height: 3vh;
  }
  
  .logo {
    max-width: 25vw; /* Ajusta el tamaño del logo */
    transition: transform 0.3s;
  }
  
  
  .logo:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
  }
  
  .carrito-compras {
    position: relative; /* Posicionamos el contenedor relativo al ícono */
    font-size: 1.6rem;
    color: #ffffff;
    margin-left: auto; 
    margin-right: 1rem; 
    text-decoration: none; /* Elimina subrayado */
  }
  
  .carrito-compras span.contador {
    display: none;
    position: absolute; /* Se posiciona respecto al ícono */
    top: 2px; /* Ajusta verticalmente */
    right: -10px; /* Ajusta horizontalmente */
    background-color: #4d4c4c;
    padding: 1px 3px; /* Tamaño ajustado para parecer circular */
    font-size: 10px; /* Reduce un poco el tamaño del texto */
    color: #fff;
    border-radius: 50%; /* Forma circular */
    text-align: center; /* Centra el texto */
    font-weight: bold; /* Hace que el número destaque */
    min-width: 18px; /* Garantiza el tamaño mínimo */
    height: 18px; /* Garantiza un círculo perfecto */
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    text-align: center;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #ececec;
  }
  
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    
    background-color: transparent;
    cursor: pointer;
  }
  
  .abrir-menu {
    color: #f8f3f3;
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .cerrar-menu {
    color: #ececec;
    margin-top: 4.2vh;
    font-size: 1.5rem;
  }
  
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    z-index: 100;
    right: -100%; /* El menú comienza fuera de la pantalla */
    transition: right 0.3s ease, opacity 0.3s ease; 
  }
  
  .nav.visible {
    right: 0; /* El menú se desliza dentro de la pantalla */
    opacity: 1;
    visibility: visible;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    transition: opacity 0.3s ease;
  }
  
  .overlay.visible {
    visibility: visible;
    opacity: 1;
  }
  
  
  .form-contact {
    width: 90vw;
    max-width: 500px;
    height: auto;
    background: #24303c;
    padding: 5vh;
    margin: auto;
    margin-top: 5vh;
    border-radius: 1.5rem;
    font-family: 'calibri';
    color: white;
    box-shadow: 1px 3px 20px #000;
  }
  
  .form-contact h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 1.2rem;
    color: white;
  }

  .controls option{
    color: white;
  }
  
  .form-contact .boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 1rem;
    color: white;
    margin: 1rem 0;
    font-size: 1.2rem;
  }

  .contact-container {
    width: 100%;
    margin-top: 5vh;
}

.form-contact{
  margin-bottom: 6vh;
}

.error-message {
  opacity: 0;
  visibility: hidden;
}

.error-message.visible{
  opacity: 1;
  visibility: visible;
  margin-bottom: 2vh;
}

.contact-container{
  display: flex;
  flex-direction: column;
}

.contact-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 3px solid #7ed321;
    background-color: #f9f9f9;
    border-bottom: #BABAC4 solid 0.01px;
}

.contact-item p{
    margin-left: 5vw;
    margin-bottom: 0;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.contact-item i{
    font-size: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0;
}

.contacto{
  margin-top: 10vh;
}

.info {
    flex-direction: row;
}

.phone-number {
    font-weight: bold;
    font-size: 18px;
}

.schedule-info {
    padding-left: 10px;
    border-left: 3px solid #7ed321;
}

footer {
  margin-top: 6vh;
  background-color: #201f1f; 
  color: white; 
  padding-top: 2vh; 
  width: 100%; 
  z-index: 10;
}

.footer-info{
  border-bottom: 0.5px solid white;
}

.footer-info h5{
  margin-top: 1vh;
  text-align: center;
}

.footer-info a{
  text-decoration: none;
  color: white;
}

.redes-sociales{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin-bottom: 2vh;
}

.redes-sociales i{
  font-size: 5vh;
}

.copyright p{
  text-align: center;
  justify-content: center;
  padding: 2vh 2vh;
}

.lista-footer{
  list-style-type: none;
  justify-content: center;
  padding: 0;
  font-size: 0.9rem;
  display: flex;
  gap: 5vw;
}

@media screen and (min-width: 375px) {

  #carouselExampleAutoplaying .carousel-item img {
    width: 100%;
    height: 22vh;
    object-fit: cover; 
  }
  
  .logo {
    max-width: 20vw; 
  }
  
}


@media screen and (min-width: 424px) {
  .logo {
    max-width: 18vw; 
  }
}
  
  @media screen and (min-width: 768px) {
    .logo {
      max-width: 20vw; 
    }
  
    header{
      height: 15vh;
    }

    .abrir-menu{
      margin-right: 2vh;
    }
  
    .carrito-compras{
      margin-right: 4vh;
    }
  
    header button, i{
      font-size: 3rem;
    }

    .contact-container{
      flex-direction: row;
    }
  
    .contact-item p {
      margin-left: 0;
    }

    .contact-item i {
      font-size: 3vh;
      margin-left: 1vw;
      margin-right: 1vw;
      margin-top: 0;
    }

    .contact-item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 3vh;
  }

    .contact-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .schedule-info p{
      margin-top: 1vh;
    }

    #comunicate-con-nosotros{
      border-left: none;
    }

    .nav.visible{
      width: 35vw;
    }
  
    .nav-list{
      font-size: 1.5rem;
    }

    .carrito-compras span.contador {
      top: 8px; /* Ajusta verticalmente */
      right: -10px; /* Ajusta horizontalmente */
      padding: 7px 7px; /* Tamaño ajustado para parecer circular */
      font-size: 14px; /* Reduce un poco el tamaño del texto */
      height: 22px; /* Garantiza un círculo perfecto */
    }
  
  }
  
  @media (min-width: 992px) {
    
    header{
      height: 16vh;
    }
  
    .logo {
      width: 16vw; 
    }
  
    header li{
      font-size: 2rem;
    }

    .carrito-compras{
      display: flex;
      align-items: center;
      padding: 0;
      padding-bottom: 2vw;
    }
  
    .icono-buscar{
      display: none;
    }
  
    .nav-list{
      align-items: center;
    }
  
    .abrir-menu,
    .cerrar-menu {
        display: none;
    }
  
    .nav {
        opacity: 1;
        visibility: visible;
        position: static;
        flex-direction: row;
        align-items: center;
        box-shadow: none;
        background-color: transparent;
        padding: 0;
    }
  
    .nav-list {
        flex-direction: row;
        gap: 1rem;
    }
  
    .nav-list li a {
        color: #ffffff;
    }
  
    
  
  }
  
  
  @media screen and (min-width: 1024px) {
  
    .abrir-menu,
    .cerrar-menu {
        display: none;
    }
  
    .nav {
        opacity: 1;
        visibility: visible;
        position: static;
        flex-direction: row;
        align-items: center;
        box-shadow: none;
        background-color: transparent;
        padding: 0;
    }
  
    .nav-list {
        flex-direction: row;
        gap: 1rem;
    }
  
    .nav-list li a {
        color: #ffffff;
    }

    .carrito-compras{
      margin-right: 1vh;
    }
  }

  @media screen and (min-width: 1280px) {
    .logo {
      width: 10vw; 
    }
  }
  
  @media screen and (min-width: 1440px) {
  
    .logo {
      width: 10vw; 
    }
  
    .carrito-compras{
      padding-bottom: 2vh;
    }
  
    
  }